	body {
	    background-color: #fff;
	    margin-left: auto;
    	margin-right: auto;
    	width: 100%;

	}

	h1 {
	    color: green;
	    text-align: center;
	    font-size: xx-large;
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
	#pline { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-top: dotted 2px;
}
	.mainContainer{
		color: green;
		height: 100%;
	}
	.section1{color:green; padding-bottom: 10px}

	table, th, td {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
}
td{
	padding-top: 5px;
	padding-bottom: 5px;
}
th{
	padding-left: 5px;
	background-color: #a1a1a1;
    color: white;
}

#mais-section, #arachide-section{
	opacity: 0.5;
}
#paquet-selection{
	text-align: center;
}
    table.myagro_header { table-layout: fixed; }
	table.myagro_header td { width: 45%; border:0px;}

	table.myagro_products, table.myagro_arachide_products { table-layout: fixed; }
	table.myagro_products td ,table.myagro_arachide_products td { 
		width: 10em;
		font-size: small; 
		text-align: left;}
	table.myagro_products li, table.myagro_arachide_products li{
		list-style: none;
	}
	table.myagro_products ul , table.myagro_arachide_products ul{
		padding-left: 5px;
	}
	div.myagro_prod{

		padding-top: 10px;
	}

	#mais-options{

		padding-top: 10px;
	}

    div.myagro_gallery {
    margin: 5px;
    /*padding: 2px;*/
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
.myagro_pic{
	width: 80.5px;
	height: 72.5px;
}
.space-image{
    height: 10px;
}
div.myagro_gallery img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;

}
#myagro_id{
	vertical-align: middle;
	float:left;
	/*width: 38%;*/
	height:85px;
}
#myagro_addr{
	float: right;
	width:50%;
	padding-right: 45px;
}
#myagro_prof{
	/*float: left;*/
	/*width:48%;*/
	border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #fff;
    border-radius: 25px;
}
	
#myagro_paquets,#myagro_groupes{
	/*float: right;*/
	/*width:52%;*/
	border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #fff;
    border-radius: 25px;
    
}
/*#myagro_groupes{
	float: right;
	width: 48%;
	width:52%;
	border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #fff;
    border-radius: 25px;
    height:40em;
    
}*/
#myagro_clear{
	clear: both;
}

#welcome_img{width: 100%;}

#myagro_kiva{
	font-family: "Times New Roman";
	    font-size: 12px;
	    padding: 10px 5px 20px;
}
/*.myagro_button{
	width: 15em;
	font-size: medium;
}
#soumettre{
	color:green;
}*/

/***FIRST STYLE THE BUTTON***/
input.myagro_button {
width:320px;
background: #35b128; /*the colour of the button*/
padding: 8px 14px 10px; /*apply some padding inside the button*/
border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:1.0em;
font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #fff;
/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
/*give the corners a small curve*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#soumettre:hover, input#soumettre:focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
.jumbotron{
	padding: 0px;
}
.row{
	text-align: left;
}
.r_subheaders{
	font-size: 1.5em;
	background-color: darkgray;
	padding:10px;
}
.t_letters1{
	background-color: lightgray;
	border-style: solid;
	border-color: gainsboro;
	height: 34px
}
.bureau{
	background-color: lightgray;

}
.coll_aux_boutiquiers{
	text-align: center;
font-size: initial;
padding-top: 5px;
}
.populateInput{
	background-color: yellow;
}
